In [10]:
import pandas as pd
df = pd.read_csv("..\サンプルデータ\sukkiri-ml-codes\datafiles\Bank.csv")
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\masao\AppData\Local\Temp\ipykernel_9184\411556213.py:2: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv("..\サンプルデータ\sukkiri-ml-codes\datafiles\Bank.csv")

,id,age,job,marital,education,default,amount,housing,loan,contact,day,month,duration,campaign,previous,y
0,1,39,blue-collar,married,secondary,no,1756.0,yes,no,cellular,3,apr,370.055237,1,0,1
1,2,51,entrepreneur,married,primary,no,1443.0,no,no,cellular,18,feb,233.998933,10,0,1
2,3,36,management,single,tertiary,no,436.0,no,no,cellular,13,apr,NaN,1,2,0
3,4,63,retired,married,secondary,no,474.0,no,no,cellular,25,jan,252.525808,1,0,0
4,5,31,management,single,tertiary,no,354.0,no,no,cellular,30,apr,NaN,1,2,0

In [11]:
df.isnull().sum()

id              0
age             0
job             0
marital         0
education       0
default         0
amount          0
housing         0
loan            0
contact         0
day             0
month           0
duration     7044
campaign        0
previous        0
y               0
dtype: int64

In [6]:
%matplotlib
from sklearn.model_selection import train_test_split

Using matplotlib backend: <object object at 0x000001D8B07E55D0>

変数の種類

In [12]:
# jobの種類
df["job"].value_counts()

job
blue-collar      5886
management       5620
technician       4491
admin.           3085
services         2506
retired          1391
self-employed     945
entrepreneur      914
unemployed        790
housemaid         765
student           557
unknown           178
Name: count, dtype: int64

In [13]:
# maritalの種類
df["marital"].value_counts()

marital
married     16411
single       7662
divorced     3055
Name: count, dtype: int64

In [14]:
df["education"].value_counts()

education
secondary    13882
tertiary      7959
primary       4150
unknown       1137
Name: count, dtype: int64

In [15]:
# contactの種類
df["contact"].value_counts()

contact
cellular             17580
sending _document     7861
telephone             1687
Name: count, dtype: int64

ダミー変数化（その後データを分割）

In [25]:
# jobをダミー変数化
job_dummy = pd.get_dummies(df["job"], drop_first=True, dtype=int)

# dfとjob_dummyを連結
df2 = pd.concat([df, job_dummy], axis=1)

# df2から元のjobを削除
df2 = df2.drop(["job"], axis=1)

df2.head()

,id,age,marital,education,default,amount,housing,loan,contact,day,...,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
0,1,39,married,secondary,no,1756.0,yes,no,cellular,3,...,0,0,0,0,0,0,0,0,0,0
1,2,51,married,primary,no,1443.0,no,no,cellular,18,...,1,0,0,0,0,0,0,0,0,0
2,3,36,single,tertiary,no,436.0,no,no,cellular,13,...,0,0,1,0,0,0,0,0,0,0
3,4,63,married,secondary,no,474.0,no,no,cellular,25,...,0,0,0,1,0,0,0,0,0,0
4,5,31,single,tertiary,no,354.0,no,no,cellular,30,...,0,0,1,0,0,0,0,0,0,0

In [28]:
# maritalをダミー変数化
marital_dummy = pd.get_dummies(df["marital"], drop_first=True, dtype=int)

# marital_dummyを連結
df3 = pd.concat([df2, marital_dummy], axis=1)

# df2から元のmaritalを削除
df3 = df3.drop(["marital"], axis=1)

df3.head()

,id,age,education,default,amount,housing,loan,contact,day,month,...,management,retired,self-employed,services,student,technician,unemployed,unknown,married,single
0,1,39,secondary,no,1756.0,yes,no,cellular,3,apr,...,0,0,0,0,0,0,0,0,1,0
1,2,51,primary,no,1443.0,no,no,cellular,18,feb,...,0,0,0,0,0,0,0,0,1,0
2,3,36,tertiary,no,436.0,no,no,cellular,13,apr,...,1,0,0,0,0,0,0,0,0,1
3,4,63,secondary,no,474.0,no,no,cellular,25,jan,...,0,1,0,0,0,0,0,0,1,0
4,5,31,tertiary,no,354.0,no,no,cellular,30,apr,...,1,0,0,0,0,0,0,0,0,1

In [30]:
# educationをダミー変数化
education_dummy = pd.get_dummies(df["education"], drop_first=True, dtype=int)

# marital_dummyを連結
df4 = pd.concat([df3, education_dummy], axis=1)

# 元のeducationを削除
df4 = df4.drop(["education"], axis=1)

df4.head()

,id,age,default,amount,housing,loan,contact,day,month,duration,...,services,student,technician,unemployed,unknown,married,single,secondary,tertiary,unknown
0,1,39,no,1756.0,yes,no,cellular,3,apr,370.055237,...,0,0,0,0,0,1,0,1,0,0
1,2,51,no,1443.0,no,no,cellular,18,feb,233.998933,...,0,0,0,0,0,1,0,0,0,0
2,3,36,no,436.0,no,no,cellular,13,apr,NaN,...,0,0,0,0,0,0,1,0,1,0
3,4,63,no,474.0,no,no,cellular,25,jan,252.525808,...,0,0,0,0,0,1,0,1,0,0
4,5,31,no,354.0,no,no,cellular,30,apr,NaN,...,0,0,0,0,0,0,1,0,1,0

In [32]:
# contactをダミー変数化
education_dummy = pd.get_dummies(df["contact"], drop_first=True, dtype=int)

# contact_dummyを連結
df5 = pd.concat([df4, education_dummy], axis=1)

# 元のcontactを削除
df5 = df5.drop(["contact"], axis=1)

df5.head()

# drop_first=Trueなので元の変数の種類より1つ少ない列数のDFが返ってくる
# すべて0であれば消した列が1になっているという読み方をする

,id,age,default,amount,housing,loan,day,month,duration,campaign,...,technician,unemployed,unknown,married,single,secondary,tertiary,unknown,sending _document,telephone
0,1,39,no,1756.0,yes,no,3,apr,370.055237,1,...,0,0,0,1,0,1,0,0,0,0
1,2,51,no,1443.0,no,no,18,feb,233.998933,10,...,0,0,0,1,0,0,0,0,0,0
2,3,36,no,436.0,no,no,13,apr,NaN,1,...,0,0,0,0,1,0,1,0,0,0
3,4,63,no,474.0,no,no,25,jan,252.525808,1,...,0,0,0,1,0,1,0,0,0,0
4,5,31,no,354.0,no,no,30,apr,NaN,1,...,0,0,0,0,1,0,1,0,0,0

In [36]:
df5.columns

Index(['id', 'age', 'default', 'amount', 'housing', 'loan', 'day', 'month',
       'duration', 'campaign', 'previous', 'y', 'blue-collar', 'entrepreneur',
       'housemaid', 'management', 'retired', 'self-employed', 'services',
       'student', 'technician', 'unemployed', 'unknown', 'married', 'single',
       'secondary', 'tertiary', 'unknown', 'sending _document', 'telephone'],
      dtype='object')

In [37]:
len(df5.columns)

30

In [50]:
# defaultをダミー変数化
default_dummy = pd.get_dummies(df["default"], drop_first=True, dtype=int)

# default_dummyを連結
df6 = pd.concat([df5, default_dummy], axis=1)

# 元のdefaultを削除
df6 = df6.drop(["default"], axis=1)

df6.head()

,id,age,amount,housing,loan,day,month,duration,campaign,previous,...,unemployed,unknown,married,single,secondary,tertiary,unknown,sending _document,telephone,yes
0,1,39,1756.0,yes,no,3,apr,370.055237,1,0,...,0,0,1,0,1,0,0,0,0,0
1,2,51,1443.0,no,no,18,feb,233.998933,10,0,...,0,0,1,0,0,0,0,0,0,0
2,3,36,436.0,no,no,13,apr,NaN,1,2,...,0,0,0,1,0,1,0,0,0,0
3,4,63,474.0,no,no,25,jan,252.525808,1,0,...,0,0,1,0,1,0,0,0,0,0
4,5,31,354.0,no,no,30,apr,NaN,1,2,...,0,0,0,1,0,1,0,0,0,0

default, housing, loanはY/Nなのでダミー化はあとで考える
(df6はdefaultだけダミー化した)

データの分割

In [39]:
# 訓練＋検証データとテストデータに分割
# testは最後のモデル評価のみに使う
# train_valは加工後に再び分割する
train_val, test = train_test_split(df5, test_size=0.2, random_state=0)

決定木モデルの作成（カテゴリカルデータも欠損値も扱える）

In [51]:
# 特徴量の選択
# default, housing, loan, monthはダミー化してないから除外
# dayと2つのunknownも除外 
col = ['age', 'amount', 
       'duration', 'campaign', 'previous', 'blue-collar', 'entrepreneur',
       'housemaid', 'management', 'retired', 'self-employed', 'services',
       'student', 'technician', 'unemployed', 'married', 'single',
       'secondary', 'tertiary', 'sending _document', 'telephone']

x = train_val[col]
t = train_val["y"]

In [52]:
# 分割
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.2, random_state=0)

In [53]:
# 決定木モデルの作成
from sklearn import tree
model = tree.DecisionTreeClassifier(max_depth=5, random_state=0, class_weight="balanced")
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=5, random_state=0)

In [54]:
# 正解率を計算
model.score(x_test, y_test)

0.7097442985487215

モデルの改善

In [55]:
# 同じ処理を繰り返すのでlearn関数を定義
def learn(x,t,depth):
    x_train,x_val,y_train,y_val = train_test_split(x,t,test_size=0.2,random_state=13)

    datas=[x_train,x_val,y_train,y_val]

    model = tree.DecisionTreeClassifier(random_state=depth,max_depth=depth,class_weight='balanced')
    model.fit(x_train,y_train)
    train_score=model.score(x_train,y_train)
    
    val_score=model.score(x_val,y_val)
    return train_score,val_score,model,datas

In [57]:
# 深さを変えてモデル作成
for i in range(1,20):
    s1,s2,model,datas = learn(x,t,i)
    print(i,s1,s2)

1 0.7163757848050227 0.7138908085694541
2 0.6624042393871321 0.6632112416493895
3 0.6624042393871321 0.6632112416493895
4 0.7116525545763492 0.7102050218843584
5 0.7213294165082657 0.7217231052752822
6 0.726513449686078 0.7208016586040082
7 0.7638960889349692 0.7482146970744068
8 0.7742065549219515 0.7447592720571297
9 0.7930994758366453 0.7479843354065884
10 0.8072691665226658 0.7468325270674959
11 0.8223604631069639 0.7360055286800277
12 0.8402741777547377 0.7313982953236582
13 0.8621047174701918 0.7325501036627505
14 0.8759864063130004 0.7270214236351071
15 0.892920914693854 0.7194194885970975
16 0.9116410345026208 0.7201105736005529
17 0.9239675133920857 0.7085924902096291
18 0.939404412188238 0.7055977885279889
19 0.9470076608490294 0.7005298318359825

特徴量の取り方を解答に合わせる

In [61]:
# まず、ダミー変数化をしたいが、文字列の列が複数あるので抜き出す。
str_col_name=['job','default','marital','education','housing','loan','contact','month']
str_df = df[str_col_name]
#複数列を一気にダミー変数化
str_df6=pd.get_dummies(str_df,drop_first=True,dtype=int)

num_df = df.drop(str_col_name,axis=1)
df6 = pd.concat([num_df,str_df6,str_df],axis=1)

In [62]:
df6.head()

,id,age,amount,day,duration,campaign,previous,y,job_blue-collar,job_entrepreneur,...,month_oct,month_sep,job,default,marital,education,housing,loan,contact,month
0,1,39,1756.0,3,370.055237,1,0,1,1,0,...,0,0,blue-collar,no,married,secondary,yes,no,cellular,apr
1,2,51,1443.0,18,233.998933,10,0,1,0,1,...,0,0,entrepreneur,no,married,primary,no,no,cellular,feb
2,3,36,436.0,13,NaN,1,2,0,0,0,...,0,0,management,no,single,tertiary,no,no,cellular,apr
3,4,63,474.0,25,252.525808,1,0,0,0,0,...,0,0,retired,no,married,secondary,no,no,cellular,jan
4,5,31,354.0,30,NaN,1,2,0,0,0,...,0,0,management,no,single,tertiary,no,no,cellular,apr

In [63]:
df6.columns
# df6と解答のdf2が同じ

Index(['id', 'age', 'amount', 'day', 'duration', 'campaign', 'previous', 'y',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'default_yes', 'marital_married', 'marital_single',
       'education_secondary', 'education_tertiary', 'education_unknown',
       'housing_yes', 'loan_yes', 'contact_sending _document',
       'contact_telephone', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'job', 'default', 'marital', 'education',
       'housing', 'loan', 'contact', 'month'],
      dtype='object')

In [64]:
#訓練&検証データとテストデータに分割
train_val2,test2 = train_test_split(df6,test_size=0.1,random_state=9)
train_val2.head()

,id,age,amount,day,duration,campaign,previous,y,job_blue-collar,job_entrepreneur,...,month_oct,month_sep,job,default,marital,education,housing,loan,contact,month
13378,13379,46,0.0,10,378.293875,1,0,1,0,0,...,0,0,unemployed,no,married,tertiary,yes,no,cellular,jul
3800,3801,41,-333.0,30,300.845752,3,2,0,1,0,...,0,0,blue-collar,no,divorced,secondary,yes,no,cellular,jan
10398,10399,30,5389.0,6,159.053623,3,0,1,0,0,...,0,0,management,no,single,tertiary,no,no,cellular,aug
23401,23402,39,255.0,5,334.802583,1,0,0,0,0,...,0,0,management,no,single,tertiary,yes,no,sending _document,may
26223,26224,47,33.0,5,NaN,1,0,1,0,0,...,0,0,services,no,single,secondary,yes,no,cellular,may

In [68]:
# 欠損値を中央値で補完
train_val2["duration"].fillna(train_val2["duration"].median(), inplace=True)
train_val2["duration"].isnull().sum()

C:\Users\masao\AppData\Local\Temp\ipykernel_9184\1251417204.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_val2["duration"].fillna(train_val2["duration"].median(), inplace=True)

0

In [69]:
# すべてのカラムを学習させる準備
t =train_val2['y']
x = train_val2.drop(str_col_name,axis=1)
x =x.drop(['id','y','day'],axis=1)

In [70]:
# 再びスコアを計算
for i in range(1,20):
    s1,s2,model,datas = learn(x,t,i)
    print(i,s1,s2)

1 0.6995187384804423 0.6993651443784559

2 0.6492422690968667 0.6493958631988531
3 0.6492422690968667 0.6493958631988531
4 0.7357669465492525 0.7481056727421667
5 0.7767765717796437 0.7773909481875896
6 0.80124923202949 0.8023755887773909
7 0.8224452181036248 0.8095433135367602
8 0.8448699569936514 0.8238787630554987
9 0.858386237968462 0.8230595945115707
10 0.8756399754249437 0.829817734998976
11 0.8987814867909072 0.8363710833503993
12 0.910147450337907 0.8269506450952283
13 0.9284251484742986 0.8236739709195167
14 0.943170182265001 0.8124104034405079
15 0.9587343845996313 0.820397296743805
16 0.9684620110587754 0.8156870776162195
17 0.9776264591439688 0.8177349989760393
18 0.9845893917673562 0.8134343641204178
19 0.9900163833708786 0.8152774933442556

In [71]:
#特徴量重要度の確認
a=pd.Series(model.feature_importances_,index=x.columns).sort_values(ascending=False)
a[0:9]

duration                     0.448438
age                          0.116352
campaign                     0.092785
amount                       0.086379
housing_yes                  0.052192
loan_yes                     0.035821
contact_sending _document    0.020647
previous                     0.019944
marital_married              0.008249
dtype: float64

In [ ]:
test2["job"].head()

,id,age,default,amount,housing,loan,day,month,duration,campaign,...,technician,unemployed,unknown,married,single,secondary,tertiary,unknown,sending _document,telephone
22824,22825,31,no,449.0,yes,no,17,apr,357.608637,1,...,0,0,0,0,1,1,0,0,0,0
4197,4198,50,no,449.0,yes,no,21,nov,442.867159,2,...,0,0,0,1,0,0,1,0,0,0
19743,19744,28,no,449.0,no,no,1,jun,314.629132,1,...,0,0,0,0,1,0,1,0,0,0
18971,18972,30,no,449.0,yes,no,20,may,358.753453,1,...,1,0,0,0,0,1,0,0,1,0
2931,2932,46,no,449.0,no,no,19,jun,244.437742,14,...,0,0,1,1,0,0,0,0,1,0

In [75]:
#テストデータでもチェック
model = tree.DecisionTreeClassifier(max_depth=11,random_state=11)
model.fit(x,t)
test2 = test.copy()
test2["duration"]=test2["duration"].fillna(train_val["duration"].median())

str_col_name = ['job', 'default', 'marital', 'education', 'housing', 'loan', 'contact', 'month']
test_y=test2['y']
test_x = test2.drop(str_col_name,axis=1)
test_x =test_x.drop(['id','y','day'],axis=1)
model.score(test_x,test_y)

KeyError: "['job' 'default' 'marital' 'education' 'housing' 'loan' 'contact' 'month'] not found in axis"